{# app/Resources/views/easy_admin/layout.html.twig #}
{% extends '@!EasyAdmin/default/layout.html.twig' %}

{# {% block header_logo %}
    <a href="{{ path('easyadmin', {entity: 'Vente', action: 'list'}) }}">
        <img src="{{ asset('assets/images/logoheader.png') }}" style="width:40%"/>
    </a>
{% endblock header_logo %} #}