{# templates/admin/form.html.twig #}
{% extends '@!EasyAdmin/default/new.html.twig' %}
{# {% block content_title %}
   
    <a href="#">More information</a>
    
{% endblock %} #}
{% block content_form %}
	
{% endblock %}